<header id="home" class="header">
  <div class="overlay"></div>

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="container">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="carousel-title">We Make<br> Creative Design</h1>
            <button class="btn btn-primary btn-rounded">Learn More</button>
          </div>
        </div>
        <!-- <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="carousel-title">We Make <br> Responsive Design</h1>
            <button class="btn btn-primary btn-rounded">Learn More</button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="carousel-title">We Make <br> Simple Design</h1>
            <button class="btn btn-primary btn-rounded">Learn More</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</header>